.nova-framework {
    margin-left: 20px;
    margin-right: 0;
}
.nova-framework .nova-header h1 {
    float: right;
}
.nova-framework .nova-header fieldset {
    float: left;
}
.nova-framework .nova-nav {
    float: right;
}
.nova-framework .nova-nav ul {
    clear: right;
}
.nova-framework .nova-nav ul li .nova-section-active:after {
    right: auto;
    left: 0;
    border-left-color: #fff;
    border-right-color: transparent;
}
.nova-framework .nova-nav ul li .nova-arrow:after {
    content: "\f053";
    right: auto;
    left: 10px;
}
.nova-framework .nova-nav ul li.nova-tab-active .nova-arrow:after {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.nova-framework .nova-nav ul ul li a {
    padding-right: 45px;
    padding-left: 10px;
}
.nova-framework .nova-nav ul ul li a .nova-tab-icon{
    right: 20px;
    margin: 0;
}
.nova-framework .nova-nav ul ul:before {
    left: auto;
    right: 15px;
}
.nova-framework .nova-nav .nova-icon {
    margin-left: 5px;
    margin-right: 0;
}
.nova-framework .nova-nav-background {
    left: auto;
    right: 0;
}
.nova-framework .nova-content {
    margin-left: 0;
    margin-right: 225px;
}
.nova-framework .nova-content .nova-sections {
    float: right;
}
.nova-framework .nova-show-all .nova-content {
    margin-right: 0;
    overflow: hidden;
}
.nova-framework .nova-expand-all {
    right: auto;
    left: 40px;
}
.nova-framework .nova-footer {
    text-align: left;
}

.nova-metabox-framework {
    margin: -6px -12px -12px -12px;
}
.nova-metabox-framework .nova-content .nova-section-title {
    padding: 20px;
}

.nova-element .nova-title {
    float: right;
}
.nova-element .nova-fieldset {
    margin-left: 0;
    margin-right: 40%;
}

.nova-pseudo-field {
    padding: 0 0 0 5px !important;
}

.nova-field-number em {
    margin-left: 0;
    margin-right: 5px;
}

.nova-field-typography select,
.nova-field-typography .chosen-container {
    margin-right: 0;
    margin-left: 5px;
}

.nova-field-checkbox .horizontal li,
.nova-field-radio .horizontal li {
    margin-right: 0;
    margin-left: 15px;
}

.nova-field-switcher label {
    float: right;
}
.nova-field-switcher .nova-text-desc {
    float: right;
    margin-left: 0;
    margin-right: 5px;
}

.nova-field-color_picker .nova-alpha-slider {
    margin-left: 0;
    margin-right: 2px;
}
.nova-field-color_picker .nova-alpha-slider .ui-slider-handle {
    margin: 0 -11px;
}
.nova-field-color_picker .nova-alpha-slider-offset {
    background-position: center right;
}
.nova-field-color_picker .nova-alpha-text {
    right: auto;
    left: 10px;
}

.nova-field-group .ui-accordion-icons {
    padding-left: 0;
    padding-right: 30px;
}
.nova-field-group .ui-accordion-header-icon {
    left: auto;
    right: .5em;
}
.nova-field-group .dashicons-arrow-right:before {
    content: "\f141";
}

.nova-help {
    right: auto;
    left: 5px;
}

.nova-field-icon .button {
    margin-right: 0;
    margin-left: 5px;
}
.nova-field-icon .nova-icon-preview i {
    margin-right: 0;
    margin-left: 5px;
}

.nova-field-gallery ul li {
    margin-right: 0;
    margin-left: 5px;
}
.nova-field-gallery .button {
    margin-right: 0;
    margin-left: 5px;
}

.nova-field-sorter .nova-modules {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}


#nova-save-ajax {
    right: auto;
    left: 5px;
}

.nova-dialog .nova-element {
    padding-right: 15px;
    padding-left: 30px;
}
.nova-dialog .nova-shortcode-clone .nova-remove-clone {
    right: auto;
    left: 5px;
}

#customize-controls .nova-element .nova-fieldset,
.widget-content .nova-element .nova-fieldset,
#side-sortables .nova-element .nova-fieldset {
    margin-right: 0;
}

@media only screen and (max-width: 1200px) {
    .nova-metabox-framework .nova-element .nova-fieldset {
        margin-left: 0;
    }
}
@media only screen and (max-width: 782px) {
    .nova-framework .nova-fieldset,
    .nova-framework .nova-content {
        margin-right: 0;
    }
}
.ui-dialog {
    right: auto;
}
input#nova_searchbox {
    margin: 0 !important;
}
.nova-field-typography .nova-fieldset .nova-parent-fields {
    float: right;
}
.nova-slider {
    margin-right: 8%;
    margin-left: 0;
}
.nova-group .nova_group__actions {
    left: 0;
    right: auto;
}
.nova-fieldset .wp-picker-container:before {
    right: 0;
    left: auto;
}
.nova-framework.nova-metabox-framework .nova-content {
    margin-left: 0;
    margin-right: 17%;
}